body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.row{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    box-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    border-radius: 5px;
}
form{
    display: flex;
    flex-direction: column;
}
form:has(input){
    width: 300px;
}