main{
    padding: 2rem 10rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    justify-content: center;
    align-items: center;
}
.row h2{
    margin: 0;
    margin-bottom: 2rem;
}
form{
    display: grid;
    grid-template-columns: ;
}