  
  #interface {
    display: grid;
    padding: 50px 250px;
    height: 100px;
    margin-left: 100px;
  }
  
  #stat-h {
    
    padding: 20px;
    margin: 40px 0px;
  
  }
  
  .navigation {
    display: flex;
    align-items: center;
    padding: 10px, 30px;
    margin: 30px 0;
    }
  
  .navigation h3 {
    display: flex;
    margin: 10px 20px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
  }
  
  .navigation p {
    margin: 10px 5px;
  }
  
  table {
    background-color: #f3f3f3;
    width: 100%;
    border-collapse: collapse;
  }

  table th, table td {
    border: 1px solid;
    text-align: left;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
  }