* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
  }
  
  body {
    width: 100%;
    background-color: #eeeded;
    position: relative;
    display: flex
  }
  
  #menu {
    background: black;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .logo {
    color: white;
    margin: 30px;
  }
  
  .items {
    margin-top: 40px;
  }
  
  .items li {
    list-style: none;
    padding: 15px 0;
    transition: 0.3s ease;
  }
  
  .items li i {
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
  }
  
  .items li a {
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    padding-left: 20px;
    transition: 0.3s ease;
  }
  
  .items li:hover {
    background: #253047;
    cursor: pointer;
  }
  
  .items li:hover a {
    color: white;
  }
  
  .items li:hover i {
    color: white;
  }
  
  #interface {
    display: grid;
    padding: 50px 250px;
    height: 100px;
    margin-left: 100px;
  }
  
  #stat-h {
    
    padding: 20px;
    margin: 40px 0px;
  
  }
  
  .navigation {
    display: flex;
    align-items: center;
    padding: 10px, 30px;
    margin: 30px 0;
    }
  
  .navigation h3 {
    display: flex;
    margin: 10px 20px;
    font-size: 24px;
    jusify-content: center;
    align-items: center;
  }
  
  .navigation p {
    margin: 10px 5px;
  }
  
  table {
    background-color: #f3f3f3;
    width: 100%;
    border-collapse: collapse;
  }

  table th, table td {
    border: 1px solid;
    text-align: left;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
  }