* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#menu {
    background: black;
    width: max-content;
    height: max-content;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    padding: 2rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1rem;
  }
  
  .logo {
    color: white;
  }
  .items{
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
    row-gap: 1rem;
  }
  .items li {
    list-style: none;
    transition: 0.3s ease;
  
  }
  
  .items li i {
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    /* margin: 0 10px 0 25px; */
  }
  
  .items li a {
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    padding-left: 20px;
    transition: 0.3s ease;
  }
  
  .items li:hover {
    cursor: pointer;
  }
  
  .items li:hover a {
    color: white;
  }
  
  .items li:hover i {
    color: white;
  }