
@import url('https://fonts.googleapis.com/css2? family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper{
    background: #fff;
    width: 920px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px ,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
}
h2{
    text-align: center;
}
hr{
    width: 100px;
    margin: 10px auto;
}
.members{
    display: flex;
}
.team-mem{
    margin: 19px;

}
img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}
h3,p{
    text-align: center;
    font-size: 18px;
    margin: 7px;
}
.containers{
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
